# はじめに

## 開発ルール

- memory-bankを常に参照し、更新したらmemory-bankを更新するようにしてください。
- archiveは不要なコードなので、読まなくていいです。
- srcの中のコードを読んで実装をしてください。

## ディレクトリの意味（srcディレクトリ）

- crossing_reduction
  - 交差削減に関する数理計画問題の関数
- drawing
  - トーラスの描画系の関数
- layer_assignment
  - 階層割り当てに関する数理計画問題の関数
- lib
  - ライブラリ
- test
  - テストコード
- main.py
  - メインの関数

## Gurobiのパラメータ調整について

今回はGurobipyを用いた数理計画問題を実装しているコードが幾つかある。
そこでは、Gurobiのパラメータ調整による、性能向上は行わないようにする。
